.articleText {
    color: white;
    text-align: center;
    margin-top: 51.5px;
    font-size: 30px;
    font-family: Hoefler Text;
    margin-top: 44.5px;
}

.articleText::after {
    content: "ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ";
    margin-left: 767px;
    margin-right: 767px;
    border-bottom: solid;
    border-width: 3;
    border-color: white;
}