.button {
    margin-left: 767px;
    margin-right: 767px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    background: white;
    font-size: 25px;
    padding: 5px 80px;
    line-height: 30px;
    border-radius: 12px;
    border-top: 2px solid white;
    color: #080C71;
    text-decoration: none;
    display: block;  
}
    
}

.button::before {
    margin-top: 44.5px;
    border: solid;
    border-width: 3;
    border-color: white;
}
