
.hero {
    width: 100%vw;
    min-width: 100%vh;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/simon-migaj-yui5vfkhuzs-unsplash-1580476027.jpg?resize=2048:*);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000000 200%);

}
